$gradient-start: #ee7752;
$gradient-mid1: #e73c7e;
$gradient-mid2: #23a6d5;
$gradient-end: #23d5ab;

body {
  background: linear-gradient(-45deg, $gradient-start, $gradient-mid1, $gradient-mid2, $gradient-end);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
